/* Overall body styling */
body {
    margin: 0;
    padding: 0;
    background-color: #2F3136;
    font-family: system-ui;
    display: flex;
    flex-direction: column;
}

.pipe {
  color: white;
  margin: 0 3px;
  }

.dash {
  color: white;
  margin: 0 5px;
}

svg {
  width: 80vw;
  height: auto;
  max-height: 1200px; /* adjust */
  display: block;
  margin: 0 auto;
}

/* Link color */
a {
    color: #6F85D2;
}

/* Simple utility spacer */
.spacer {
    height: 5vh;
}

.remote-btn {
    fill: #fff;
    opacity: 0%;
}

/* Footer styling */
.footer {
    width: 90vw;
    margin: 0 auto 1.25vh;
    border: 2px dotted #737373;
    text-align: center;
    padding: 0.5rem 0;
    box-sizing: border-box;
    margin-top: auto; /* pushes footer to the bottom */
  }
  
  /* Footer credits text style */
  .footer .credits {
    font-weight: normal;
    font-size: 0.7em;
    margin-top: 0.3rem;
    color: white;
  }
  
.active {
  color: #6F85D2;
  text-decoration: underline;
  cursor: default;
}

.inactive {
  color: #6F85D2;
  text-decoration: underline;
}
