<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2">
    <title>|TinkLink Control Panel|</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/control_panel.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function() {
        const forms = document.querySelectorAll("form");
        forms.forEach(form => {
          form.addEventListener("submit", function(e) {
            e.preventDefault();
            const button = this.querySelector("button");
            if (button) {
              button.style.backgroundColor = "#6F85D2";
            }
            setTimeout(() => { this.submit(); }, 500);
          });
        });

        document.getElementById("loading-message").style.display = 'none';
      });

      
    </script>
  </head>
  <body><!--oncontextmenu="return false;"-->
    <!-- Header -->
    <div class="header-box">
      <h1>Control Panel</h1>
    </div>
    
    <!-- Main Content -->
    <div class="content">
      <!-- Hotspot Section -->
      <div class="info-section" id="hotspot-info">
        <fieldset>
        <h3>Hotspot</h3>
        <div>
          Hotspot SSID: <span id="hotspot_ssid"></span><br>
          Domain Name: <span id="domain"></span><br>
          IP Address: <span id="ip"></span><br>
          Hotspot Mode: <span id="hotspot_mode"></span><br>
        </div>
        <div class="button-group">
          <form method="POST" action="/set_hotspot_mode">
            <input type="hidden" name="mode" value="5-minute_time_out">
            <button type="submit">5-Minute Time-Out</button>
          <!--/form>
          <form method="POST" action="/set_hotspot_mode"-->
            <input type="hidden" name="mode" value="always_on">
            <button type="submit">Always On</button>
          </form>
        </div>
        </fieldset>
      </div>
  
      <!-- Connected Network Section -->
      <div class="info-section" id="sta-info">
        <fieldset>
        <h3>Connected Network</h3>
          <div>
            STA Status: <span id="sta_status"></span><br>
            Connected SSID: <span id="sta_ssid"></span><br>
            IP Address: <span id="sta_ip"></span><br>
          </div>
          <div class="button-group">
              <form id="disconnect-form" method="POST" action="/disconnect">
              <button type="submit">Disconnect</button>
              </form>
          </div>
        </fieldset>
      </div>
  
      <!-- Saved Connection Section -->
      <div class="info-section" id="saved-connection-info">
        <fieldset>
          <h3>Saved Connection</h3>
          <div>
            Saved Connection: <span id="saved_ssid"></span>
          </div>
          <div class="button-group">
            <form id="sta-disconnect-form" method="POST" action="/disconnect">
            <button type="submit">Disconnect</button>
            </form>
          </div>
        </fieldset>
      </div>

        <!-- Deal with all of this later
        {% if sta_status["connected"] %}
          {% if saved["connection_exists"] and saved["ssid"] %}
            {% if sta_status["ssid"] == saved["ssid"] %}
              <form id="delete-connection-form" method="POST" action="/delete_connection">
              <button type="submit">Delete Saved Connection</button>
              </form>
            {% else %}
              <form id="overwrite-connection-form" method="POST" action="/save_connection">
              <input type="hidden" name="network" value="{{ saved["ssid"] }}">
              <input type="hidden" name="password" value="{{ saved["password"] }}">
              <button type="submit">Overwrite Saved Connection</button>
              </form>

              <form id="delete-connection-form" method="POST" action="/delete_connection">
              <button type="submit">Delete Saved Connection</button>
              </form>
            {% endif %}
          {% else %}
            <form id="save-connection-form" method="POST" action="/save_connection">
            <input type="hidden" name="network" value="{{ sta_status["ssid"] }}">
            <input type="hidden" name="password" value="{{ saved["password"] }}">
            <button type="submit">Save Connection</button>
            </form>
            <br><i>Connect to network and click Save Connection to connect on boot.</i>
          {% endif %}
        {% else %}
          {% if saved["connection_exists"] %}
            <form id="delete-connection-form" method="POST" action="/delete_connection">
            <button type="submit">Delete Saved Connection</button>
            </form>
            <br><i>Connect to network and click Save Connection to connect on boot.</i>
          {% endif %}
        {% endif %}
        </div>
      </div>
      -->
      <!-- Connect Form Section -->
      <div class="form-section">
        <fieldset>
        <h3>Connect to a Network</h3>

        <p id="loading-message">Loading available networks, please wait...</p>

        <button onclick="populateNetworks()">Scan for Networks</button>
        
        <form id="home-network-form" method="POST" action="/connect">
          <label for="network-select">Available Networks:</label>
          <select id="network-select" name="network">
              <option value="">Please press "Scan for Networks" to populate this list.</option>
          </select>
          <label for="network-password">Password:</label>
          <input type="password" id="network-password" name="password" placeholder="Enter password">
          <button type="submit">Connect</button>
        </form>
        </fieldset>
      </div>

      <!-- RetroTINK4K Setup-->
       <div class="form-section">
       <fieldset>
        <h3>RetroTINK Setup</h3>
        <div class="serial">
          <label for="tink-tx-pin">Transmit Pin</label>
          <label for="tink-rx-pin">Receive Pin</label>
          <label for="tink-uart">RetroTINK 4K UART</label>
        </div>
        <form id="tink-setup" class="form-section serial">
          
          <input type="number" id="tink-tx-pin" min="0" max="8">
          <input type="number" id="tink-rx-pin" min="0" max="8">
          
          <select id="tink-uart">
            <option value="0">Port 0</option>
            <option value="1">Port 1</option>
          </select>
        </form>
       </fieldset>
      </div>

      <!-- TCP Server -->
      <div id="tcp-server" class="form-section">
       <fieldset>
        <h3>TCP Server</h3>
        <div class="tcp-server">
          <label for="tcp-server-enabled">Enabled:</label>
          <label for="tcp-server-port">Port:</label>
        </div>
        <form id="tcp-server" class="tcp-server">
          
          <select id="tcp-server-enabled" onclick="toggle()">
            <option value=true>Yes</option>
            <option value=false>No</option>
          </select>
          
          <input type="number" id="tcp-server-port" min="1" max="65535" value="1023">
        </form>
       </fieldset>
       </div>

       <!-- Switches/Matrices -->
       <div class="form-section">
        <fieldset>
          <h3>Switch/Matrix Configuration</h3>

          <h4>Extron SW VGA</h4>
          <div class="switcher">
            <label for="extron-sw-vga-enabled">Enabled</label>
            <label for="extron-type">Type</label>
            <label for="extron-name">Name</label>
            <label for="extron-connection">Connection</label>
          </div>
          <form id="extron-sw-vga" class="switcher">
            
            <select id="extron-sw-vga-enabled">
              <option value="true">Yes</option>
              <option value="false">No</option>
            </select>
            
            <select id="extron-type">
              <option value="sw-vga">SW VGA</option>
              <option value="sw-cp">MAV/CrossPoint</option>
            </select>
            
            <input type="text" id="extron-name">

            <select id="extron-connection" onclick="toggleSerialTelnet()">
              <option value="serial">Serial</option>
              <option value="telnet">Telnet</option>
            </select>
          </form>

          <div id="extron-serial">
            <!-- should we go down to H5? -->
            <h5>Serial Configuration</h5>
              <div class="serial">
                <label for="extron-tx-pin">Transmit Pin</label>
                <label for="extron-rx-pin">Receive Pin</label>
                <label for="extron-uart">Extron UART</label>
              </div>
              <div class="serial">
                
                <input id="extron-tx-pin" type="number" min="0" max="8">
                <input id="extron-rx-pin" type="number" min="0" max="8">
                <select id="extron-uart">
                  <option value="0">Port 0</option>
                  <option value="1">Port 1</option>
                </select>
              </div>
            </div>

            <div id="extron-telnet">
              <h5>Telnet Connection</h5>
              <div class="telnet">
                <label for="telnet-hostname">Hostname</label>
                <label for="telnet-port">Port</label>
                <label for="telnet-username">Username</label>
                <label for="telnet-password">Password</label>
                <lable for="telnet-init-string">Init String</lable>
              </div>
              <div class="telnet">
                <input id="telnet-hostname" type="text" placeholder="192.168.0.255">
                <input id="telnet-port" type="number" min="1" max="65535" value="23">
                <input id="telnet-username" type="text">
                <input id="telnet-password" type="text">
                <input id="telnet-init-string" type="text">
              </div>
            </div>
          </fieldset>

          <fieldset>
            <h3>Triggers</h3>

            <button id="add-trigger" onclick="addTrigger('triggers')">Add</button>

            <div class="trigger">
              <label for="trigger-1-name">Name</label>
              <label for="trigger-1-input">Input</label>
              <label for="trigger-1-mode">Mode</label>
              <label for="trigger-1-profile">RT Profile</label>
            </div>

            <div id="triggers" class="trigger">
              <input type="hidden" class="trigger-count">

              <input type="text" for="trigger-1-name">

              <select id="trigger-1-input">
                <option value="1">Input 1</option>
                <option value="2">Input 2</option>
                <option value="3">Input 3</option>
                <option value="4">Input 4</option>
                <option value="5">Input 5</option>
                <option value="6">Input 6</option>
              </select>

              <select id="trigger-1-mode">
                <option value="Remote">Remote</option>
                <option value="SVS">SVS</option>
              </select>

              <select id="trigger-1-profile">
                <option value="1">Profile 1</option>
                <option value="2">Profile 2</option>
                <option value="3">Profile 3</option>
                <option value="4">Profile 4</option>
                <option value="5">Profile 5</option>
                <option value="6">Profile 6</option>
                <option value="7">Profile 7</option>
                <option value="8">Profile 8</option>
                <option value="9">Profile 9</option>
                <option value="10">Profile 10</option>
                <option value="11">Profile 11</option>
                <option value="12">Profile 12</option>
              </div>
              
            </div>
          
          </form>
        </fieldset>
       </div>
    </div>
        
    <!-- Footer -->
    <div class="footer">
      <a href="/remote-page" class="active">
        <span class="pipe">|</span> Remote <span class="pipe">|</span>
      </a>
      <span class="dash"> - </span>
      <a href="/terminal" class="active">
        <span class="pipe">|</span> Terminal <span class="pipe">|</span>
      </a>
      <span class="dash"> - </span>
      <a href="/control-panel" class="active">
        <span class="pipe">|</span> Control Panel <span class="pipe">|</span>
      </a>
      <div class="credits">
        TinkLink v1.0 by Old Kid.<br>
        PCB Design by Jeff Chen. RetroTINK by Mike Chi.
      </div>
    </div>

  </body>
</html>
