{% args hotspot, sta_status, saved, ssid_list %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2">
    <title>|TinkLink Control Panel|</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script>
      document.addEventListener("DOMContentLoaded", function() {
        const forms = document.querySelectorAll("form");
        forms.forEach(form => {
          form.addEventListener("submit", function(e) {
            e.preventDefault();
            const button = this.querySelector("button");
            if (button) {
              button.style.backgroundColor = "#6F85D2";
            }
            setTimeout(() => { this.submit(); }, 500);
          });
        });

        document.getElementById("loading-message").style.display = 'none';
      });

      async function populateNetworks() {
        
        message = document.getElementById("loading-message");
        message.style.display = '';

        const request = new Request('/scan_networks');

        fetch(request)
        .then(response => {
          if(!response.ok) {
            throw new Error('Network response error');
          }
          return response.json();
        })
        .then(data => {

          if (data) {
            // Data found, remove everything in list.
            selectList = document.getElementById("network-select");
            selectList.innerHTML = "";
            
            data.forEach(function(ssid) {
              // Create new option for the SSID
              let option = document.createElement("option");
              option.value = ssid;
              option.text = ssid;

              // Add option to SSID list.
              selectList.appendChild(option);
            });
          }
        })
        .catch(error => {
          console.error("Could not load JSON data");
        })
        .finally(() => {
          message.style.display = 'none';
        });
      }
    </script>
  </head>
  <body oncontextmenu="return false;">
    <!-- Header -->
    <div class="header-box">
      <h1>Control Panel</h1>
    </div>
    
    <!-- Main Content -->
    <div class="content">
      <!-- Hotspot Section -->
      <div class="info-section" id="hotspot-info">
        <h3>Hotspot</h3>
        <div>
          Hotspot SSID: {{ hotspot["ssid"] }}<br>
          Domain Name: {{ hotspot["domain"] }}<br>
          IP Address: {{ hotspot["ip"] }}<br>
          Hotspot Mode: {{ hotspot["hotspot_mode"] }}
        </div>
        <div class="button-group">
          <form method="POST" action="/set_hotspot_mode">
            <input type="hidden" name="mode" value="5-minute_time_out">
            <button type="submit">5-Minute Time-Out</button>
          </form>
          <form method="POST" action="/set_hotspot_mode">
            <input type="hidden" name="mode" value="always_on">
            <button type="submit">Always On</button>
          </form>
        </div>
      </div>
  
      <!-- Connected Network Section -->
      <div class="info-section" id="sta-info">
        <h3>Connected Network</h3>
        <div>
          STA Status: {{ sta_status["connection_status"] }}<br>
          Connected SSID: {{ sta_status["ssid"] }}<br>
          IP Address: {{ sta_status["ip"] }}
        </div>
        <div class="button-group">
          {% if sta_status["connected"] %}
            <form id="disconnect-form" method="POST" action="/disconnect">
            <button type="submit">Disconnect</button>
            </form>
          {% endif %}
        </div>
      </div>
  
      <!-- Saved Connection Section -->
      <div class="info-section" id="saved-connection-info">
        <h3>Saved Connection</h3>
        <div>
          Saved Connection: {{ saved["ssid"] }}
        </div>
        <div class="button-group">
        {% if sta_status["connected"] %}
          <form id="disconnect-form" method="POST" action="/disconnect">
          <button type="submit">Disconnect</button>
          </form>
        {% endif %}

        {% if sta_status["connected"] %}
          {% if saved["connection_exists"] and saved["ssid"] %}
            {% if sta_status["ssid"] == saved["ssid"] %}
              <form id="delete-connection-form" method="POST" action="/delete_connection">
              <button type="submit">Delete Saved Connection</button>
              </form>
            {% else %}
              <form id="overwrite-connection-form" method="POST" action="/save_connection">
              <input type="hidden" name="network" value="{{ saved["ssid"] }}">
              <input type="hidden" name="password" value="{{ saved["password"] }}">
              <button type="submit">Overwrite Saved Connection</button>
              </form>

              <form id="delete-connection-form" method="POST" action="/delete_connection">
              <button type="submit">Delete Saved Connection</button>
              </form>
            {% endif %}
          {% else %}
            <form id="save-connection-form" method="POST" action="/save_connection">
            <input type="hidden" name="network" value="{{ sta_status["ssid"] }}">
            <input type="hidden" name="password" value="{{ saved["password"] }}">
            <button type="submit">Save Connection</button>
            </form>
            <br><i>Connect to network and click Save Connection to connect on boot.</i>
          {% endif %}
        {% else %}
          {% if saved["connection_exists"] %}
            <form id="delete-connection-form" method="POST" action="/delete_connection">
            <button type="submit">Delete Saved Connection</button>
            </form>
            <br><i>Connect to network and click Save Connection to connect on boot.</i>
          {% endif %}
        {% endif %}
        </div>
      </div>
  
      <!-- Connect Form Section -->
      <div class="form-section">
        <h3>Connect to a Network</h3>

        <p id="loading-message">Loading available networks, please wait...</p>

        <button onclick="populateNetworks()">Scan for Networks</button>
        
        <form id="home-network-form" method="POST" action="/connect">
          <label for="network-select">Available Networks:</label>
          <select id="network-select" name="network">
              <option value="">Please press "Scan for Networks" to populate this list.</option>
          </select>
          <label for="network-password">Password:</label>
          <input type="password" id="network-password" name="password" placeholder="Enter password">
          <button type="submit">Connect</button>
        </form>
      </div>
    </div>
        
    <!-- Footer -->
    <div class="footer">
      <a href="/remote-page" class="active">
        <span class="pipe">|</span> Remote <span class="pipe">|</span>
      </a>
      <span class="dash"> - </span>
      <a href="/terminal" class="active">
        <span class="pipe">|</span> Terminal <span class="pipe">|</span>
      </a>
      <span class="dash"> - </span>
      <a href="/control-panel" class="active">
        <span class="pipe">|</span> Control Panel <span class="pipe">|</span>
      </a>
      <div class="credits">
        TinkLink v1.0 by Old Kid.<br>
        PCB Design by Jeff Chen. RetroTINK by Mike Chi.
      </div>
    </div>

  </body>
</html>
